[submodule "faceboook-scraper-backend"]
	path = faceboook-scraper-backend
	url = https://github.com/jemxz/faceboook-scraper-backend.git
[submodule "twitter-scraper"]
	path = twitter-scraper
	url = https://github.com/Eyosiyas8/twitter-scraper
[submodule "faceboook/facebook-scraper-backend-profile"]
	path = faceboook/facebook-scraper-backend-profile
	url = https://github.com/jemxz/facebook-scraper-backend-profile.git
